---
---

@import "{{ site.theme }}";
h1 {
  font-family: 'Comfortaa', cursive, sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive, sans-serif;
  color: #17C37B;
}

.authors, .affiliations {
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color:#eaebf0ff;
  color: #1d2140 !important;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover {
  background-color: rgb(127, 128, 130);
}

.authors {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.affiliations {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

body, p, li {
  color: #1d2140;
}

.project-tagline {
  color: white;
}